{{#if this.shouldDisplay}}
  <div class="custom-big-carousel">
    <div class="custom-big-carousel-prev">
      {{d-icon "chevron-left"}}
    </div>

    <div class="custom-big-carousel-next">
      {{d-icon "chevron-right"}}
    </div>

    <div class="custom-big-carousel-slides">
      {{#each this.bigStaticSlides as |bs|}}
        <div
          class="custom-big-carousel-slide"
          style={{html-safe
            (concat
              "background:"
              bs.slide_bg_color
              ";"
              "background-image: url("
              bs.image_url
              ");"
            )
          }}
        >
          <div class="custom-big-carousel-content">
            <div class="custom-big-carousel-outer-wrap wrap">
              <div
                class="custom-big-carousel-inner-wrap"
                style={{html-safe (concat "background:" bs.text_bg)}}
              >
                <div class="custom-big-carousel-main-content">
                  <a href={{bs.link}} class="custom-big-carousel-text-link">
                    <h2>
                      {{bs.headline}}
                    </h2>

                    <p>
                      {{bs.text}}
                    </p>
                  </a>

                  {{#if (and bs.button_text bs.link)}}
                    <a href={{bs.link}} class="btn btn-primary btn-text">
                      {{bs.button_text}}
                    </a>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}

      {{#each this.bigUserSlides as |bs|}}
        <div
          class="custom-big-carousel-slide user-slide"
          style={{html-safe
            (concat
              "background:"
              bs.slide_bg_color
              ";"
              "background-image: url("
              bs.image_url
              ");"
            )
          }}
        >
          <div class="custom-big-carousel-content">
            <div class="custom-big-carousel-outer-wrap wrap">
              <div class="custom-big-carousel-inner-wrap">
                <div class="custom-big-carousel-main-content">
                  <h4>
                    {{bs.headline}}
                  </h4>
                  <div style={{html-safe (concat "background:" bs.text_bg)}}>
                    <h3>
                      <a href="/u/{{bs.user_info.user.username}}">
                        {{avatar bs.user_info.user imageSize="huge"}}
                        {{bs.user_info.user.username}}
                      </a>
                    </h3>
                  </div>

                  <p class="bs-main-text">
                    {{bs.text}}
                  </p>

                  {{#if (and bs.button_text bs.link)}}
                    <a href="/u/{{bs.link}}" class="btn btn-primary btn-text">
                      {{bs.button_text}}
                    </a>
                  {{/if}}
                </div>

                {{#if bs.user_activity}}
                  <div class="bc-user-activity">
                    <h4>Recent Activity</h4>

                    {{#each bs.user_activity as |activity|}}
                      <div class="bc-user-post">
                        <a href="/t/{{activity.topic_id}}">
                          <div class="bc-user-post-title">
                            {{activity.title}}
                          </div>
                          <p class="bc-user-post-excerpt">
                            {{html-safe activity.excerpt}}
                          </p>
                        </a>
                      </div>
                    {{/each}}
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="custom-big-carousel-nav">
      {{#each this.bigStaticSlides}}
        <div class="custom-big-carousel-nav-item"></div>
      {{/each}}

      {{#each this.bigUserSlides}}
        <div class="custom-big-carousel-nav-item"></div>
      {{/each}}
    </div>

    {{conditional-loading-spinner condition=this.isLoading}}
  </div>
{{/if}}