{{#if shouldDisplay}}

  <div class="custom-big-carousel">

    <div class="custom-big-carousel-prev">
      {{d-icon "chevron-left"}}
    </div>

    <div class="custom-big-carousel-next">
      {{d-icon "chevron-right"}}
    </div>

    <div class="custom-big-carousel-slides">
      {{#each bigSlides as |bs|}}
        <div
          class="custom-big-carousel-slide"
          style="background-image: url({{bs.image_url}});"
        >
          <div class="custom-big-carousel-content">
            <div class="custom-big-carousel-outer-wrap wrap">
              <div class="custom-big-carousel-inner-wrap">
                <a href={{bs.link}} class="custom-big-carousel-text-link">
                  <h2>
                    {{bs.headline}}
                  </h2>
                  <p>
                    {{bs.text}}
                  </p>
                </a>
                {{#if (and bs.button_text bs.link)}}
                  <a href={{bs.link}} class="btn btn-primary btn-text">
                    {{bs.button_text}}
                  </a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
      {{plugin-outlet
        name="big-carousel-connector"
        tagName=""
        connectorTagName="div"
      }}
    </div>

    <div class="custom-big-carousel-nav">
      {{#each bigSlides as |bs|}}
        <div class="custom-big-carousel-nav-item"></div>
      {{/each}}
    </div>

  </div>

{{/if}}